@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{/* CSS HEX */
--feldgrau: #3c493fff;
--bright-pink-crayola: #ef476fff;
--mint: #03cea4ff;
--amber: #ffc43dff;
--glaucous: #507dbcff;

/* CSS HSL */
--feldgrau: hsla(134, 10%, 26%, 1);
--bright-pink-crayola: hsla(346, 84%, 61%, 1);
--mint: hsla(168, 97%, 41%, 1);
--amber: hsla(42, 100%, 62%, 1);
--glaucous: hsla(215, 45%, 53%, 1);

/* SCSS RGB */
--feldgrau-rgb: rgba(60, 73, 63, 1);
--bright-pink-crayola: rgba(239, 71, 111, 1);
--mint: rgba(3, 206, 164, 1);
--amber: rgba(255, 196, 61, 1);
--glaucous: rgba(80, 125, 188, 1);
}


body{
    font-size: 1rem;
    font-family: "Inter";    
    background-image: radial-gradient(circle, rgba(0,0,0,0.1) 35%, rgba(255,255,255,1) 100%),
    radial-gradient(ellipse farthest-corner, rgba(3, 206, 164, 0.3) 30%, rgb(207, 21, 207,0.30) 60%);
    max-width: 100vw;
}

.container{
    display: flex;
    flex-direction: column;   
}

.header{
        display: flex;
        justify-content: space-between;
        align-items: start;
        line-height: 0px;
}
    .fyp{
        font-size: 2.5rem;
        font-weight: 900;
    }
    .profile{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border: dashed 2px var(--feldgrau);
        border-radius: 50%;
    }
    .profile img{
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }
#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    --content-max : 1000px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
    
    .card{
        background-color: white;
        display: flex;
        width: var(--content-max);
        border-radius: 20px;
        box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.20);
        padding: 10px;
    }
    .card img{
        width: 350px;
        border-radius: 20px;
    }
    .details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
    }
        .info{
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
        }
        .info .h2{
            font-weight: 900;
            font-size:65px;
            line-height: 0px;
        }
        .info .h4{
            font-weight: 500;
            color: var(--feldgrau);
        }
        .h5{
            height: 100%;
            display: flex;
            justify-content: end;
        }
    .player{
        display: flex;
        justify-content: space-evenly;
        width: 630px;
    }
    .player img{
        height: 60px;
        width: 60px;
    }
    .prod {
        text-align: end;
        font-style: italic;
        color: var(--feldgrau);
        font-size: 0.7rem;
    }
    .bio{
        margin: 25px 250px;
        text-align: center;
        font-size: 0.8rem;
    }

    .source{
        background-color:  rgba(38, 0, 255, 0.336);
        width: fit-content;
        padding: 2.5px 10px;
        border-radius: 15px;
        margin-top: 10px;
    }
    .source:hover{
        cursor : pointer;
    }
    .source a{
        text-decoration: none;
    }
    .source small{
        color: rgb(38, 0, 255);
    }

@media screen and (max-width: 1024px) {
    .card img{
        width: 350px;
        border-radius: 20px;
    }
    .card{
        width: 750px;
    }
    .player{
        width: 380px;
    }
    .player img{
        height: 50px;
        width: 50px;
    } 
    .bio{
        font-size: 1rem;
        margin: 25px 150px;
    }
}

@media screen and (max-width:768px) {
    .card img{
        width: 400px;
        border-radius: 20px;
    }
    .card{
        margin-top: 50px;
        width: 400px;
        flex-direction: column;
        align-items: center;
    }
    .info .h2{
        font-size:50px;
    }
    .player{
        width: 400px;
    }
    .player img{
        height: 40px;
        width: 40px;
    } 
    .bio{
        font-size: 1rem;
        margin: 25px 10px;
    }
    .info .h4{
        font-size: 1.5rem;
    }
    .source{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:425px) {
    .card img{
        width: 300px;
        border-radius: 20px;
    }
    .card{
        width: 300px;
        flex-direction: column;
        align-items: center;
    }
    .info .h2{
        font-size:45px;
    }
    .player{
        width: 300px;
    }
    .player img{
        height: 30px;
        width: 30px;
    }
    .bio{
        font-size: 0.5rem;
        margin: 25px 50px;
    }
}